<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       ">


    <!--配置目标类-->
    <bean id="userService" class="org.example.dao.impl.UserDaoImpl" />

    <!--配置的通知类-->
    <bean id="advice" class="org.example.advice.MyAdvice" />
    <aop:config>
        <aop:pointcut id="myPoint" expression="execution(void org.example.dao.impl.UserDaoImpl.show())"/>
        <aop:aspect ref="advice">
            <aop:before method="advice" pointcut-ref="myPoint" />
        </aop:aspect>
    </aop:config>    <aop:config>
    <aop:pointcut id="beforeShow" expression="execution(void org.example.dao.impl.UserDaoImpl.beforeShow())"/>
    <aop:pointcut id="afterRunningShow" expression="execution(void org.example.dao.impl.UserDaoImpl.afterRunningShow())"/>
    <aop:pointcut id="aroundShow" expression="execution(void org.example.dao.impl.UserDaoImpl.aroundShow())"/>
    <aop:pointcut id="throwingShow" expression="execution(void org.example.dao.impl.UserDaoImpl.throwingShow())"/>
    <aop:pointcut id="afterShow" expression="execution(void org.example.dao.impl.UserDaoImpl.afterShow())"/>
    <aop:aspect ref="advice">
        <aop:before method="beforeAdvice" pointcut-ref="beforeShow" />
        <aop:after-returning method="afterRunningAdvice" pointcut-ref="afterRunningShow" />
        <aop:around method="aroundAdvice" pointcut-ref="aroundShow" />
        <aop:after-throwing method="throwingAdvice" pointcut-ref="throwingShow" throwing="e" />
        <aop:around method="after" pointcut-ref="afterShow" />
    </aop:aspect>
</aop:config>

    <bean id="service" class="org.example.dao.impl.ServiceImpl" />
    <bean id="advisor" class="org.example.advisor.BeforeAndReturnAfter" />
    <aop:config>
        <aop:pointcut id="serviceObject" expression="execution(void org.example.dao.impl.ServiceImpl.beforeShow())"/>
        <aop:advisor advice-ref="advisor" pointcut-ref="serviceObject"/>
    </aop:config>
</beans>